<%- include('../partials/header') %>
<h4 class="text-center"><a href="/admin">Go back to dashboard</a></h4>

<div class="container text-center">
  <section class="bg-light py-10" id="explore">
    <div class="container px-5 justify-content-center">
      <div class="row gx-5 text-center">
        <div class="col-lg-4 mb-5">
          <h5 class="mb-3"><b> <%= fineGraphicsById.title %> </b></h5>
          <a class="d-block rounded-3 lift lift-lg" href="#">
            <img
              class="img-fluid rounded-3"
              src="/uploads/<%= fineGraphicsById.img %>"
              width="25%"
            />
          </a>
          <span class="mb-3"><%= fineGraphicsById.snippet %></span>
          <p style="font-size: 8px; line-height: 0.2rem">
            <b>Posted on:</b>
            <%= fineGraphicsById.timeCreated.toLocaleDateString() %>
          </p>
        </div>
      </div>
    </div>

    <%- include('../partials/scripts') %>
  </section>
</div>
