<%- include('./partials/header') %> <%- include('./partials/navigation') %>
<section class="bg-light py-10" id="explore">
  <div class="container text-center">
    <section class="bg-light py-10" id="explore">
      <div class="container px-2">
        <div class="row gx-2">
          <div class="mb-10 justify-content-center">
            <h2 class="text-center pt-5">Graphic Designs</h2>
            <p class="lead text-center">
              You do not have to be left out in owning professionally designed
              graphics as shown below
            </p>
          </div>
          <div class="row gx-2 text-center">
            <% if(graphics.length<1){ %> 

              <p class="text-white">No post yet</p>

              <% } %> 
            <% graphics.forEach(graphic=>{ %>
            <div class="col-lg-3 mb-5">
              <h5 class="mb-3"><b><%= graphic.title %> </b></h5>
              <a class="d-block rounded-3 lift lift-lg" href="#">
                <img
                  class="img-fluid rounded-3"
                  src="/uploads/<%= graphic.img %>"
                  width="80%"
                />
              </a>
              <span class="align-self-stretch"><%= graphic.snippet %></span>
              <p style="font-size: 8px; line-height: 0.2rem">
                <%= graphic.timeCreated.toLocaleDateString() %>
              </p>
            </div>
            <% }) %>
          </div>
      </div>
      <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 144.54 17.34"
          preserveAspectRatio="none"
          fill="currentColor"
        >
          <path
            d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"
          ></path>
        </svg>
      </div>
    </section>
  </div>
</section>

<%- include('./partials/footer') %> <%- include('./partials/scripts') %>
