<%- include('./partials/header') %> <%- include('./partials/navigation') %>
<style>
.horizontal{
  color: #376b47;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 10px;
}
</style>
<main>
  <div class="album py-5 bg-light">
      <div class="container">
        <div>
        <h4 class="horizontal">Graphic Works</h4>
        <hr/>
      </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% if(graphics.length<1){ %> 

              <p class="text-white">No post yet</p>

              <% } %> 
            <% graphics.forEach(graphic=>{ %>
            <div class="col">
              <div class="card shadow-sm">
                <a class="d-block rounded-3 lift lift-lg" href="#">
                  <img
                    class="img-fluid rounded-3"
                    src="/uploads/<%= graphic.img %>"
                    width="100%"
                  />
                </a>
                <div class="card-body">
                  <p class="card-text">
                    <b><%= graphic.title %> </b>
                       <%= graphic.snippet %>
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">
                            <%= graphic.timeCreated.toLocaleDateString() %>
                          </button>
                        </div>
                        <small class="text-muted">Like</small>
                      </div>
                </div>
              
            </div>
            </div>
            <% }) %>
      </div>
      <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 144.54 17.34"
          preserveAspectRatio="none"
          fill="currentColor"
        >
          <path
            d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"
          ></path>
        </svg>
      </div>
  </div>
</main>

<%- include('./partials/footer') %> <%- include('./partials/scripts') %>
