
{{!-- header partial file --}}
{{>header}}

{{!-- navigation partial file --}}
{{>navigation}}

<section class="bg-light py-10" id="explore">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <div class="text-center mb-10">
                    <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">{{items}} graphics</div>
                    <h2>Graphic Designs</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5 text-center">
            
    {{#each images}}
        {{#each this}}
            {{#if imageBase64}}
            <div class="col-lg-4 mb-5">
                <h6 class="mb-3">Demo 1 - Multipurpose</h6>
                <a class="d-block rounded-3 lift lift-lg" href="#">
                    <img class="img-fluid rounded-3" src="data:{{contentType}};base64,{{imageBase64}}">
                </a>
            </div>
            {{/if}}
        {{/each}} 
    {{/each}}
        </div>
    </div>
    <div class="svg-border-rounded text-white">
        <!-- Rounded SVG Border-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
</section>

<!--<section class="bg-white py-10">
                        <div class="container px-5">
                            <div class="row gx-5 justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center mb-10">-->
                                        {{!-- <div class="badge rounded-pill bg-primary-soft text-primary badge-marketing mb-3">19 Pages!</div> --}}
                                        <!--<h2>Web Pages</h2>
                                        <p class="lead">Our packages includes these beautiful website designs to help streamline the development of your business even further!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row gx-5">-->
                        {{!--#each images--}}
                            {{!--#each this--}}
                                {{!--#if imageBase64--}}
                                <!--<div class="col-lg-4 mb-5">
                                    <h6 class="mb-3">Company Pages</h6>
                                    <a class="d-block rounded-3 lift lift-lg" href="#">
                                        <img class="img-fluid rounded-3" src="data:{{contentType}};base64,{{imageBase64}}">
                                    </a>
                                </div>-->
                                {{!--/if--}}
                            {{!--/each--}} 
                        {{!--/each--}}
                           <!-- </div>
                        </div>
                        <div class="svg-border-rounded text-light">
                             Rounded SVG Border
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                        </div>
                    </section> -->

 
{{!-- footer partial file --}}
{{>footer}}